/**
*   src/components/Button/Button.css
*/

.button {
    border: none;
    padding: 15px 20px;
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}

/* Color classes */
.white {
    color: var(--color-text-primary);
    background-color: transparent;
}

.blue {
    color: var(--color-brand-text);
    background-color: var(--color-brand-bg);
    padding: 7px 12px
}

/* Shape classes */
.square {
    border-radius: 0;
}

.round {
    border-radius: 999px;
}

.dropdown-container {
    position: relative;
}

.dropdown-symbol {
    margin: 0px 0px 0px 7px;
}

.button.has-dropdown-symbol {
    padding-right: 2px;
}

/* Styles for hovered or highlighted dropdown button */
.dropdown-button {
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 20px;
    margin: 0 -8px;
    transition: background 160ms var(--ease-out-quad);
}

.dropdown-button svg {
    margin-left: 2px;
    width: 14px;
    height: 14px;
    fill: var(--color-text-secondary);
    vertical-align: middle;
    transition: transform 160ms var(--ease-out-quad);
}

.dropdown-button img {
    transition: transform 0.3s ease;
}

.dropdown-button[data-state="open"] img {
    transform: rotate(180deg);
}

.dropdown-button:hover,
.dropdown-button[data-state="open"] {
    background: var(--color-bg-tertiary);
    color: var(--color-text-primary);
    left: auto;
    right: 0; 
}

.dropdown-button[data-state="open"] svg {
    transform: rotate(-180deg);
}

/* Styles for dropdown panel */
.dropdown-panel {
    position: absolute;
    top: 85%;
    left: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border-primary); 
    border-radius: 8px; 
    z-index: 100; 
    width: 120%;
    font-family: var(--font-regular);
}

@media (prefers-reduced-motion: no-preference) {
    .dropdown-panel {
        animation: var(--menu-transition) both;
        --anim-amount: 200px;
    }

    .dropdown-panel[data-motion="from-start"] {
        animation-name: animation-from-start;
    }

    .dropdown-panel[data-motion="from-end"] {
        animation-name: animation-from-end;
    }

    .dropdown-panel[data-motion="to-start"] {
        animation-name: animation-to-start;
    }

    .dropdown-panel[data-motion="to-end"] {
        animation-name: animation-to-end;
    }
}
