.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .Debug_column__SR8er:nth-child(n+10) {
      display:none
  }
}

@media (max-width: 640px) {
  .Debug_column__SR8er:nth-child(n+6) {
      display:none
  }
}

*,:after,:before {
  box-sizing: border-box
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

blockquote,q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.reset-a {
  text-decoration: none;
  cursor: pointer
}

.reset-a,.reset-button {
  color: inherit;
  outline: none
}

.reset-button {
  cursor: var(--pointer);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent
}

.reset-heading {
  margin: 0
}

.reset-li,.reset-ol,.reset-ul {
  margin: 0;
  padding: 0
}

.reset-li {
  list-style: none
}

.reset-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;
  width: 100%
}

:root {
  --header-height: 48px;
  --page-padding-default: 32px;
  --page-max-width: 1200px;
  --page-padding-left: max(env(safe-area-inset-left),var(--page-padding-default));
  --page-padding-right: max(env(safe-area-inset-right),var(--page-padding-default));
  --page-padding-y: 120px;
  --prose-max-width: 588px;
  --grid-columns: 12;
  --grid-column-gap: 24px;
  --layer-debug: 5100;
  --layer-skip-nav: 5000;
  --layer-tooltip: 1100;
  --layer-toasts: 800;
  --layer-dialog: 700;
  --layer-dialog-overlay: 699;
  --layer-command-menu: 650;
  --layer-popover: 600;
  --layer-context-menu: 600;
  --layer-overlay: 500;
  --layer-header: 100;
  --layer-scrollbar: 75;
  --layer-footer: 50;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --font-monospace: ui-monospace,"SF Mono","Menlo",monospace;
  --font-regular: "Linear","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  --font-emoji: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","Twemoji Mozilla","Noto Color Emoji","Android Emoji";
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --speed-highlightFadeIn: 0s;
  --speed-highlightFadeOut: 0.15s;
  --speed-quickTransition: 0.1s;
  --speed-regularTransition: 0.25s;
  --mask-visible: #000;
  --mask-ease: rgba(0,0,0,.2);
  --mask-invisible: transparent;
  --rounded-full: 9999px;
  --transparent: hsla(0,0%,100%,0);
  --min-tap-size: 44px;
  --dvh: 1vh;
  --svh: 1vh;
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
  --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
  --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
  --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
  --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
  --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
  --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
  --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
  --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
  --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
  --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
  --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
  --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
  --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
  --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
  --ease-in-out-expo: cubic-bezier(1,0,0,1);
  --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
  --mauve-light-1: #fdfcfd;
  --mauve-light-2: #f9f8f9;
  --mauve-light-3: #f4f2f4;
  --mauve-light-4: #eeedef;
  --mauve-light-5: #e9e8ea;
  --mauve-light-6: #e4e2e4;
  --mauve-light-7: #dcdbdd;
  --mauve-light-8: #c8c7cb;
  --mauve-light-9: #908e96;
  --mauve-light-10: #86848d;
  --mauve-light-11: #6f6e77;
  --mauve-light-12: #1a1523;
  --mauve-dark-1: #161618;
  --mauve-dark-2: #1c1c1f;
  --mauve-dark-3: #232326;
  --mauve-dark-4: #28282c;
  --mauve-dark-5: #2e2e32;
  --mauve-dark-6: #34343a;
  --mauve-dark-7: #3e3e44;
  --mauve-dark-8: #504f57;
  --mauve-dark-9: #706f78;
  --mauve-dark-10: #7e7d86;
  --mauve-dark-11: #a09fa6;
  --mauve-dark-12: #ededef;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #4ea7fc;
  --color-red: #eb5757;
  --color-green: #4cb782;
  --color-orange: #f2994a;
  --focus-ring-color: var(--color-brand-bg);
  --focus-ring-width: 2px;
  --focus-ring-offset: 2px;
  --focus-ring-outline: var(--focus-ring-width) solid var(--focus-ring-color);
  --pointer: pointer
}
